* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#17567B, #003454);
    font-family: 'Segoe UI';
}

.header {
    background: url('line.svg') top;
    background-repeat: no-repeat;
    height: 90px;
    margin-bottom: 5px;
}

/* .cover {
    position: relative;
    width: 70em;
    margin: auto;
} */

.img {
    position: absolute;
    top: 5px;
}

.img2 {
    position: absolute;
    left: 110px;
    top: 5px;
}

h3 {
    margin: 10px 0 20px 0;
}

form {
    position: relative;
    margin-top: 10px;
}

.form_attribute {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 50%;
}

#showCover {
    background-color: #C99090;
    border: 1px solid #000000;
    height: 40px;
    max-width: 100%;
    margin: 0 0 20px 0;
}

/*show in the JS section*/
#show {
    text-align: center;
    margin-top: 10px;
}

.section {
    background-image: url('boys.jpg');
    background-size: 100%;
    object-fit: cover;
    background-position: center;
    border-radius: 0 0 20px 20px;
    background-color: #49a7e2;
    height: 15vh;
    margin-bottom: 10px;
}

.main {
    position: relative;
    padding: 10px 0 10px 0;
    border-radius: 20px;
    height: 35em;
    background-color: #ffffff;
    margin-bottom: 10px;
}

.align {
    text-align: center;
}

input[type=text] {
    width: 200px;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 8px 0 8px 0;
    border: 2px solid #707070;
    background-color: #CFD2E1;
}

::placeholder {
    font-size: 11px;
    text-align: center;
}

input[type=password] {
    width: 200px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid #707070;
    margin: 8px 0 8px 80px;
    background-color: #CFD2E1;
}

button {
    width: 80px;
    padding: 10px;
    border-radius: 50px;
    border: 2px solid #707070;
    margin: 10px 0 30px 0;
}

.bottom {
    text-align: center;
    margin-top: 7em;
}

a {
    text-decoration: none;
    color: #7A8FA1;
}

.footer {
    width: 100%;
    background-color: #666666;
    color: #fff;
    text-align: center;
}

@media(min-width: 768px) {
    .cover {
        position: relative;
        width: 100%;
        margin: 0;
    }

    input[type=text] {
        width: 53%;
        padding: 10px 20px;
        border-radius: 20px;
        border: 2px solid #707070;
        margin: 8px 0;
        box-sizing: border-box;
        margin-left: 30px;
        background-color: #CFD2E1;
    }
    
    input[type=password] {
        width: 53%;
        padding: 10px 20px;
        border-radius: 20px;
        border: 2px solid #707070;
        margin: 8px 0;
        box-sizing: border-box;
        margin-left: 110px;
        background-color: #CFD2E1;
    }

    .section { 
        /* width: 70em;    */
        margin: 0 0 10px 0;
    }

    .main {
        /* width: 70em; */
        margin: 0;
        /* height: 68vh; */
    }

    .others  {
        display: flex;
        justify-content: center;
    }

    .first {
        line-height: 30px;
        margin-right: 10px;
    }
    
    .second {
        line-height: 30px;
        margin-left: 10px;
    }

    .bottom {
        margin-top: 6em;
    }

    .footer {
        margin-top: 10px;
    }
}

@media(min-width: 1030px) {
    .cover {
        position: relative;
        width: 70em;
        margin: auto;
    }

    .section { 
        width: 70em;   
        margin: 0 auto 10px auto;
    }
    
    .main {
        width: 70em;
        margin: auto;
        height: 68vh;
    }
}

@media(max-width: 320px) {
    label {
        font-size: 15px;
    }

    input[type=text] {
        width: 170px;
        margin: 8px 0 8px ;
    }

    input[type=password] {
        width: 170px;
        margin: 8px 0 8px 4;
    }
}


